@model EmployeeVM


<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">ಮ್ಯಾನ್ಯುಯಲ್ ಸ್ಕ್ಯಾವೆಂಜರ್ಸ್ ಗಳ ಸೇರ್ಪಡೆ</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<form method="post" enctype="multipart/form-data">
			<div class="row p-3">
				@* <div asp-validation-summary="All"></div>  *@
				<div class="mb-4">
					<label><strong>ವೈಯಕ್ತಿಕ ವಿವರ</strong></label>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.EmployeeName" class="form-control border" />
					<label asp-for="Employee.EmployeeName" class="ms-2"></label>
					<span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.IdentityNumber" class="form-control border" />
					<label asp-for="Employee.IdentityNumber" class="ms-2"></label>
					<span asp-validation-for="Employee.IdentityNumber" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.Address" class="form-control border" />
					<label asp-for="Employee.Address" class="ms-2"></label>
					<span asp-validation-for="Employee.Address" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.Village" class="form-control border" />
					<label asp-for="Employee.Village" class="ms-2"></label>
					<span asp-validation-for="Employee.Village" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.VillagePanchayat" class="form-control border" />
					<label asp-for="Employee.VillagePanchayat" class="ms-2"></label>
					<span asp-validation-for="Employee.VillagePanchayat" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<select asp-for="Employee.TalukId" asp-items="@Model.TalukList"
							class="form-select">
						<option disabled selected>-- ತಾಲ್ಲೂಕು --</option>
					</select>
					<label asp-for="Employee.TalukId" class="ms-2"></label>
					<span asp-validation-for="Employee.TalukId" class="text-danger"></span>
				</div>
				<div class="row mt-4 border-0">
					<div>
						<label><strong>ವಸತಿ ವಿವರ</strong></label>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasAHouse" />
							<label asp-for="Employee.HasAHouse" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.HouseArea" class="form-control border" />
							<label asp-for="Employee.HouseArea" class="ms-2"></label>
							<span asp-validation-for="Employee.HouseArea" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.AppliedForHouse" />
							<label asp-for="Employee.AppliedForHouse" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.HouseApplicationScheme" class="form-control border" />
							<label asp-for="Employee.HouseApplicationScheme" class="ms-2"></label>
							<span asp-validation-for="Employee.HouseApplicationScheme" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasASite" />
							<label asp-for="Employee.HasASite" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.SiteArea" class="form-control border" />
							<label asp-for="Employee.SiteArea" class="ms-2"></label>
							<span asp-validation-for="Employee.SiteArea" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.AppliedForSite" />
							<label asp-for="Employee.AppliedForSite" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.SiteApplicationScheme" class="form-control border" />
							<label asp-for="Employee.SiteApplicationScheme" class="ms-2"></label>
							<span asp-validation-for="Employee.SiteApplicationScheme" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="border-0">
					<div class="form-floating py-1 row">
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasAToilet" />
							<label asp-for="Employee.HasAToilet" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasElectricityConnection" />
							<label asp-for="Employee.HasElectricityConnection" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasWaterConnection" />
							<label asp-for="Employee.HasWaterConnection" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasAadharCard" />
							<label asp-for="Employee.HasAadharCard" class="form-label"></label>
						</div>
					</div>
				</div>
				<div class="row mt-4 border-0">
					<div>
						<label><strong>ಆರೋಗ್ಯ / ವಿಮೆ ವಿವರ</strong></label>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasAyushmanBharatCard" />
							<label asp-for="Employee.HasAyushmanBharatCard" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.AyushmanBharatCardNumber" class="form-control border" />
							<label asp-for="Employee.AyushmanBharatCardNumber" class="ms-2"></label>
							<span asp-validation-for="Employee.AyushmanBharatCardNumber" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasHealthInsurance" />
							<label asp-for="Employee.HasHealthInsurance" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.HealthInsuranceName" class="form-control border" />
							<label asp-for="Employee.HealthInsuranceName" class="ms-2"></label>
							<span asp-validation-for="Employee.HealthInsuranceName" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasRationCard" />
							<label asp-for="Employee.HasRationCard" class="form-label"></label>
						</div>
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasAppliedForRationCard" />
							<label asp-for="Employee.HasAppliedForRationCard" class="form-label"></label>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasNaregaJobCard" />
							<label asp-for="Employee.HasNaregaJobCard" class="form-label"></label>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="form-floating py-1">
							<input asp-for="Employee.BankName" class="form-control border" />
							<label asp-for="Employee.BankName" class="ms-2"></label>
							<span asp-validation-for="Employee.BankName" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="form-floating py-1">
							<input asp-for="Employee.BankBranchName" class="form-control border" />
							<label asp-for="Employee.BankBranchName" class="ms-2"></label>
							<span asp-validation-for="Employee.BankBranchName" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="row pt-2">
					<div class="col-12 pb-3 col-md-6">
						<button type="submit" class="btn btn-success w-100">
							Create
						</button>
					</div>
					<div class="col-12 col-md-6">
						<a asp-controller="Employee" asp-action="Index" class="btn btn-secondary w-100">
							Cancel
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}