@model Employee


<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">ಮ್ಯಾನ್ಯುಯಲ್ ಸ್ಕ್ಯಾವೆಂಜರ್ಸ್ ಗಳ ಸೇರ್ಪಡೆ</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<form method="post" enctype="multipart/form-data">
			<div class="row p-3">
				@* <div asp-validation-summary="All"></div>  *@
				<div class="mb-4">
					<label><strong>ವೈಯಕ್ತಿಕ ವಿವರ</strong></label>
				</div>
				<div class="form-floating py-1 col-6">
					<input asp-for="EmployeeName" class="form-control border shadow" />
					<label asp-for="EmployeeName" class="ms-2"></label>
					<span asp-validation-for="EmployeeName" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-6">
					<input asp-for="IdentityNumber" class="form-control border shadow" />
					<label asp-for="IdentityNumber" class="ms-2"></label>
					<span asp-validation-for="IdentityNumber" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-6">
					<input asp-for="Address" class="form-control border shadow" />
					<label asp-for="Address" class="ms-2"></label>
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-6">
					<input asp-for="Village" class="form-control border shadow" />
					<label asp-for="Village" class="ms-2"></label>
					<span asp-validation-for="Village" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-6">
					<input asp-for="VillagePanchayat" class="form-control border shadow" />
					<label asp-for="VillagePanchayat" class="ms-2"></label>
					<span asp-validation-for="VillagePanchayat" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-6">
					<input asp-for="Taluk" class="form-control border shadow" />
					<label asp-for="Taluk" class="ms-2"></label>
					<span asp-validation-for="Taluk" class="text-danger"></span>
				</div>
				<div class="row mt-4 border-0">
					<div>
						<label><strong>ವಸತಿ ವಿವರ</strong></label>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasAHouse" />
							<label asp-for="HasAHouse" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="HouseArea" class="form-control border shadow" />
							<label asp-for="HouseArea" class="ms-2"></label>
							<span asp-validation-for="HouseArea" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="AppliedForHouse" />
							<label asp-for="AppliedForHouse" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="HouseApplicationScheme" class="form-control border shadow" />
							<label asp-for="HouseApplicationScheme" class="ms-2"></label>
							<span asp-validation-for="HouseApplicationScheme" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasASite" />
							<label asp-for="HasASite" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="SiteArea" class="form-control border shadow" />
							<label asp-for="SiteArea" class="ms-2"></label>
							<span asp-validation-for="SiteArea" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="AppliedForSite" />
							<label asp-for="AppliedForSite" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="SiteApplicationScheme" class="form-control border shadow" />
							<label asp-for="SiteApplicationScheme" class="ms-2"></label>
							<span asp-validation-for="SiteApplicationScheme" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="border-0">
					<div class="form-floating py-1 row">
						<div class="checkbox mt-3 col-6">
							<input class="form-check-input border shadow" asp-for="HasAToilet" />
							<label asp-for="HasAToilet" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-6">
							<input class="form-check-input border shadow" asp-for="HasElectricityConnection" />
							<label asp-for="HasElectricityConnection" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-6">
							<input class="form-check-input border shadow" asp-for="HasWaterConnection" />
							<label asp-for="HasWaterConnection" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-6">
							<input class="form-check-input border shadow" asp-for="HasAadharCard" />
							<label asp-for="HasAadharCard" class="form-label"></label>
						</div>
					</div>
				</div>
				<div class="row mt-4 border-0">
					<div>
						<label><strong>ಆರೋಗ್ಯ / ವಿಮೆ ವಿವರ</strong></label>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasAyushmanBharatCard" />
							<label asp-for="HasAyushmanBharatCard" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="AyushmanBharatCardNumber" class="form-control border shadow" />
							<label asp-for="AyushmanBharatCardNumber" class="ms-2"></label>
							<span asp-validation-for="AyushmanBharatCardNumber" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasHealthInsurance" />
							<label asp-for="HasHealthInsurance" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="HealthInsuranceName" class="form-control border shadow" />
							<label asp-for="HealthInsuranceName" class="ms-2"></label>
							<span asp-validation-for="HealthInsuranceName" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasRationCard" />
							<label asp-for="HasRationCard" class="form-label"></label>
						</div>
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasAppliedForRationCard" />
							<label asp-for="HasAppliedForRationCard" class="form-label"></label>
						</div>
					</div>
					<div class="form-floating py-1 col-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border shadow" asp-for="HasNaregaJobCard" />
							<label asp-for="HasNaregaJobCard" class="form-label"></label>
						</div>
					</div>
				</div>

				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-success w-100">
							Create
						</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Employee" asp-action="Index" class="btn btn-secondary w-100">
							Cancel
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}