@model EmployeeVM

<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">ಮ್ಯಾನ್ಯುಯಲ್ ಸ್ಕ್ಯಾವೆಂಜರ್ಸ್ ವಿವರ</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<form method="post" class="row">
			<input asp-for="Employee.EmployeeId" hidden />
			<div class="row p-3">
				<div class="mb-4">
					<label><strong>ವೈಯಕ್ತಿಕ ವಿವರ</strong></label>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.EmployeeName" disabled class="form-control border" />
					<label asp-for="Employee.EmployeeName" class="ms-2"></label>
					<span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.IdentityNumber" disabled class="form-control border" />
					<label asp-for="Employee.IdentityNumber" class="ms-2"></label>
					<span asp-validation-for="Employee.IdentityNumber" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.Address" disabled class="form-control border" />
					<label asp-for="Employee.Address" class="ms-2"></label>
					<span asp-validation-for="Employee.Address" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.Village" disabled class="form-control border" />
					<label asp-for="Employee.Village" class="ms-2"></label>
					<span asp-validation-for="Employee.Village" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.VillagePanchayat" disabled class="form-control border" />
					<label asp-for="Employee.VillagePanchayat" class="ms-2"></label>
					<span asp-validation-for="Employee.VillagePanchayat" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<select disabled asp-for="Employee.TalukId" asp-items="@Model.TalukList"
							class="form-select">
						<option disabled selected>-- ತಾಲ್ಲೂಕು --</option>
					</select>
					<label asp-for="Employee.TalukId" class="ms-2"></label>
					<span asp-validation-for="Employee.TalukId" class="text-danger"></span>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.BankName" class="form-control border" disabled />
					<label asp-for="Employee.BankName" class="ms-2"></label>
				</div>
				<div class="form-floating py-1 col-12 col-md-6">
					<input asp-for="Employee.BankBranchName" class="form-control border" disabled />
					<label asp-for="Employee.BankBranchName" class="ms-2"></label>
				</div>
				<div class="row mt-4 border-0">
					<div>
						<label><strong>ವಸತಿ ವಿವರ</strong></label>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasAHouse" disabled />
							<label asp-for="Employee.HasAHouse" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.HouseArea" class="form-control border" disabled />
							<label asp-for="Employee.HouseArea" class="ms-2"></label>
							<span asp-validation-for="Employee.HouseArea" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.AppliedForHouse" disabled />
							<label asp-for="Employee.AppliedForHouse" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.HouseApplicationScheme" disabled class="form-control border" />
							<label asp-for="Employee.HouseApplicationScheme" class="ms-2"></label>
							<span asp-validation-for="Employee.HouseApplicationScheme" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasASite" disabled />
							<label asp-for="Employee.HasASite" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.SiteArea" disabled class="form-control border" />
							<label asp-for="Employee.SiteArea" class="ms-2"></label>
							<span asp-validation-for="Employee.SiteArea" class="text-danger"></span>
						</div>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.AppliedForSite" disabled />
							<label asp-for="Employee.AppliedForSite" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.SiteApplicationScheme" class="form-control border" disabled />
							<label asp-for="Employee.SiteApplicationScheme" class="ms-2"></label>
							<span asp-validation-for="Employee.SiteApplicationScheme" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="border-0">
					<div class="form-floating py-1 row">
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasAToilet" disabled />
							<label asp-for="Employee.HasAToilet" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasElectricityConnection" disabled />
							<label asp-for="Employee.HasElectricityConnection" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasWaterConnection" disabled />
							<label asp-for="Employee.HasWaterConnection" class="form-label"></label>
						</div>
						<div class="checkbox mt-3 col-12 col-md-6">
							<input class="form-check-input border" asp-for="Employee.HasAadharCard" disabled />
							<label asp-for="Employee.HasAadharCard" class="form-label"></label>
						</div>
					</div>
				</div>
				<div class="row mt-4 border-0">
					<div>
						<label><strong>ಆರೋಗ್ಯ / ವಿಮೆ ವಿವರ</strong></label>
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasAyushmanBharatCard" disabled />
							<label asp-for="Employee.HasAyushmanBharatCard" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.AyushmanBharatCardNumber" class="form-control border" disabled />
							<label asp-for="Employee.AyushmanBharatCardNumber" class="ms-2"></label>
						</div>
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasHealthInsurance" disabled />
							<label asp-for="Employee.HasHealthInsurance" class="form-label"></label>
						</div>
						<div class="form-floating py-1">
							<input asp-for="Employee.HealthInsuranceName" class="form-control border" disabled />
							<label asp-for="Employee.HealthInsuranceName" class="ms-2"></label>
						</div>
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasRationCard" disabled />
							<label asp-for="Employee.HasRationCard" class="form-label"></label>
						</div>
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasAppliedForRationCard" disabled />
							<label asp-for="Employee.HasAppliedForRationCard" class="form-label"></label>
						</div>
						<div class="checkbox mt-3">
							<input class="form-check-input border" asp-for="Employee.HasNaregaJobCard" disabled />
							<label asp-for="Employee.HasNaregaJobCard" class="form-label"></label>
						</div>
						
					</div>
					<div class="form-floating py-1 col-12 col-md-6">
						<select asp-for="SelectedSkills" multiple asp-items="@Model.SkillList" disabled
								class="form-control" style="height:23rem;">
							<option disabled selected>-- Skills --</option>
						</select>
						<label asp-for="SelectedSkills" class="ms-2"></label>
					</div>
				</div>

				<div class="row pt-2">
					<div class="col-12 col-md-6">
						<a asp-controller="FamilyMember" asp-action="Index" asp-route-employeeId="@Model.Employee.EmployeeId" class="btn btn-success w-100">
							<i class="bi bi-x-circle"></i> ಕುಟುಂಬ ಸದಸ್ಯರು
						</a>
					</div>
					<div class="col-12 col-md-6">
						<a asp-controller="Employee" asp-action="Index" class="btn btn-secondary w-100">
							<i class="bi bi-x-circle"></i> ರದ್ದುಮಾಡಿ
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}